body {
    background-color: #07091b;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}




.card {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #ff8c00, #ff0000) 1 100%;
    color: white;

}


.btn-primary:hover {
    background: linear-gradient(45deg, #ff6f00, #ff8c00);
    transition: background 0.3s ease;
}


#homePageWelcome {
    color: #FFFF;
    font-size: 18px;
    border: 2px solid #ec650c;
    width: 175px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homePageWelcome:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

#ticketbutton {
    border: none;
    position: relative;
    left: 15px;
}

#ticketbutton:hover {
    background-color: transparent;
}

.connectWithUs {
    border: none;
    position: relative;
    top: -40px;
    left: -70px;
}

.button-nav {
    position: absolute;
    top: 5px;
    right: 20px;
}

a.button-link {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.4em 0.8em;
    color: #ec650c;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

a.button-link:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px; 
    background-color: #ec650c;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease; 
}

a.button-link:hover, a.button-link:focus {
    color: white; 
}

a.button-link:hover:after, a.button-link:focus:after {
    transform: scaleX(1); 
    transform-origin: left; 
}

a.primary-btn {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.4em 0.8em;
    color: #ec650c;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

a.primary-btn:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px; 
    background-color: #ec650c;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease; 
}

a.primary-btn:hover, a.primary-btn:focus {
    color: white; 
}

a.primary-btn:hover:after, a.primary-btn:focus:after {
    transform: scaleX(1); 
    transform-origin: left; 
}

.primary-btn  {
    padding: 12px 24px;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #ec650c;
    color: white;
}

.primary-btn:hover {
    transition: all 0.5s ease-in-out;
    background-color: #1e2142ab;
    border: 2px solid #ec660c00;
}

.paraGr {
    font-family: Arial;
    font-weight: 300;
    letter-spacing: normal;
}





#arrowBox {
    position: relative;
    top: -150px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border: 2px solid #ec650c;
    left: 800px;
    animation: jump 0.6s ease-in-out infinite;
}

.billing-card {
    border: none;
    box-shadow: -21px 22px 29px -3px rgba(0,0,0,0.62);
-webkit-box-shadow: -21px 22px 29px -3px rgba(0,0,0,0.62);
-moz-box-shadow: -21px 22px 29px -3px rgba(0,0,0,0.62);
}


.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ec660c3c;
    border-radius: 0;
}

.form-control:focus {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ec650c;
    outline: none;
    box-shadow: none;
    color: white;
}


.navbar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    border-right: 2px solid #ec650c;
}

.nav-link {
    width: 300px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.4em 0.8em;
    color: #ec650c;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;

}

#message {
    resize: none;
    width: 600px;
}

.priorityLevel {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}

.priorityLevel button.btn-outline-info.active {
    background-color: #17a2b8;
    color: white; 
    border-color: #17a2b8; 
}


.priorityLevel button.btn-outline-warning.active {
    background-color: #ffc107; 
    color: black; 
    border-color: #ffc107; 
}


.priorityLevel button.btn-outline-danger.active {
    background-color: #dc3545; 
    color: white; 
    border-color: #dc3545; 
}


#submitTicket {
    background-color: transparent;
    border: none;
}


.card-title {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

#downloadInvoiceBtn {
    border: none;
}

#downloadInvoiceBtn:hover {
    background-color: transparent;
}

#renewPlanBtn {
    border: none;
    cursor: pointer;
}

#renewPlanBtn:hover {
    background-color: transparent;
    cursor: pointer;
}

.card-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
}

.list-group {
    border: none;
}


.list-group-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ec650c;
    color: white;
}

.historySupport {
    border: 1px solid lightgrey;
}

.planSelectBtn:hover {
    background-color: transparent;
    border: none;
}

.nav-item:hover {
    cursor: pointer;
}

.revenue-card {
    background-color: #0b0d2a9e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.revenue-header {
    display: flex;
    background-color: #1f244b34;
    width: 790px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#headerCurrentWeek {
    margin-right: 20px;
    margin-top: 6px;
    font-size: 14px;
    color: lightgrey;
}

#currentWeekStats {
    font-size: 24px;
    margin-right: 20px;
}


#previousWeekStats {
    font-size: 24px;
    margin-left: 20px;
}

#headerPreviousWeek {
    margin-left: 20px;
    margin-top: 6px;
    color: lightgrey;
    font-size: 14px;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 869px;
    margin-top: 20px;
}
.stats-text {
    font-size: 14px;
    width: 500px;
}

.stat-card {
    background-color: #0b0d2a9e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.stat-card .icon {
    background-color: transparent;
    color: white;
    padding: 10px;
    display: inline-block;
    margin-bottom: 15px;
}
.stat-card h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.stat-card p {
    margin-bottom: 0;
}
.text-green {
    color: #28a745;  
}
.text-red {
    color: #dc3545; 
}

.row > .col-md-6 {
    padding: 10px;
}



@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}
