{% extends "base.html" %}

{% block title %}Plans{% endblock %}

{% block content %}
<div class="d-flex">
    <nav class="navbar navbar-dark p-3" style="width: 300px; height: 100vh; position: fixed;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-white mb-3" aria-current="page">
                    <i class="fa-solid fa-wallet"></i> Wallets
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white mb-3">
                    <i class="fa-solid fa-table-columns"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white mb-3">
                    <i class="fa-solid fa-chart-simple"></i> Stats
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white mb-3">
                    <i class="fa-solid fa-file-invoice"></i> Billing
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white mt-5">
                    <i class="fa-solid fa-gear"></i> Settings
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white mt-3">
                    <i class="fa-solid fa-ticket"></i> Ticket
            </li>
        </ul>
    </nav>
    <div class="flex-grow-1 p-4" style="margin-left: 300px;">
        
    </div>
</div>
{% endblock %}
