{% extends "base.html" %}

{% block title %}Plans{% endblock %}

{% block content %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card shadow-sm p-4">
                <h3 class="text-center mb-4">Sign Up</h3>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.email.label(class="form-label text-muted") }}
                        {{ form.email(class="form-control", placeholder="example@example.com") }}
                    </div>
                    <div class="mb-3">
                        {{ form.username.label(class="form-label text-muted") }}
                        {{ form.username(class="form-control", placeholder="legend00") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label text-muted") }}
                        {{ form.password(class="form-control", placeholder="*******") }}
                    </div>
                    <div class="mb-3">
                        {{ form.passwordConfirm.label(class="form-label text-muted") }}
                        {{ form.passwordConfirm(class="form-control", placeholder="*******") }}
                    </div>
                    <div class="mb-3">
                        <a style="text-decoration: none; color: grey;" href="{{ url_for('signin') }}"><small>Already have an account? <span style="text-decoration: underline;">Sign In</span></small></a>
                    </div>
                    <div class="d-grid py-3 mb-3">
                        {{ form.submit(class="primary-btn") }}
                    </div>
                </form>
            </div>
    </div>
{% endblock %}
